openapi: 3.2.0
info:
  title: Augment API Key API
  description: 'Augment is now SOC 2 Type II Certified


    The Augment API endpoints are calls your system makes to manage loads,

    carriers, and webhook configuration.'
  version: 20.0.1
servers:
- url: https://api.prod.goaugment.com
security:
- httpBasic: []
tags:
- name: API Key
  description: 'API key based authorization. Please refer to the

    authorization documentation for details.'
paths:
  /v2/auth-check:
    post:
      operationId: verifyApiKey
      security:
      - httpBasic: []
      tags:
      - API Key
      summary: Verify your API key
      description: Verify your API key is valid and not revoked. Use our auth check endpoint to verify your API key without writing data to your account. Great for setup and troubleshooting, but not intended for automated production health checks.
      responses:
        '200':
          description: API key is verified
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthCheckError'
components:
  schemas:
    AuthCheckError:
      type: object
      required:
      - message
      - requestId
      - timestamp
      x-property-order:
      - message
      - requestId
      - timestamp
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Invalid key
        requestId:
          type: string
          format: uuid
          description: Unique requestId for troubleshooting
          example: a1b0fce9-075a-4ad3-87fd-f307c51d2298
        timestamp:
          type: string
          description: Unix timestamp of the error in milliseconds
          example: '1760136207000'
  securitySchemes:
    httpBasic:
      type: http
      scheme: basic
      description: 'Authenticate with HTTP Basic auth by sending an empty username and your API key as the password, equivalent to encoding :<API_KEY> in the Basic credential.

        '
x-ext-urls: {}
