{
  "openapi": "3.1.1",
  "info": {
    "title": "Augment API",
    "description": "<a href=\"https://trust.goaugment.com/?utm_campaign=api_docs&utm_source=api_docs&utm_medium=api_docs&utm_content=api_docs\" target=\"_blank\">Augment is now SOC 2 Type II Certified</a>\n\nThe Augment API endpoints are calls your system makes to manage loads,\ncarriers, and webhook configuration.\nThe latest version of the Augment API is hosted [online](https://apidocs.goaugment.com).\n\n## API Endpoints\n\nEndpoints your system calls to interact with Augment:\n\n- [Load Management](/reference/tag/load-management)\n- [Carrier Management](/reference/tag/carrier-management)\n- [Models](/reference/models)\n- [Webhook Endpoints](/reference/tag/webhook-endpoints)\n- [Webhook Event Subscriptions](/reference/tag/webhook-event-subscriptions)\n\nWebhook management access is gated. Request access from Augment before using\nthese endpoints. After access is enabled, you can self-manage the webhook\nendpoints that receive event payloads and the webhook event subscriptions\nthat control which events are sent to each endpoint.\n\nUse [Webhook Endpoints](/reference/tag/webhook-endpoints) to create and\nupdate the HTTPS destinations where Augment sends webhook payloads. Use\n[Webhook Event Subscriptions](/reference/tag/webhook-event-subscriptions) to\nchoose event types for each endpoint and send test deliveries.\n\nOutbound webhook payloads, including Track & Trace events, are documented\nseparately in the [Webhooks](/webhooks) reference. Subscriptions created\nthrough the public webhook management APIs deliver version 2 webhook payloads only.\n\n## Resources\n\n* [Homepage](https://www.goaugment.com)\n* [LinkedIn](https://www.linkedin.com/company/goaugment)\n* [Jobs - we're hiring!](https://jobs.ashbyhq.com/go-augment?utm_source=AMy24qx30n)\n\n## Developer Notes\n\nAll date-time fields are represented as strings. The date-time notation is defined by [RFC 3339, section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6). Examples:\n- `2025-08-21T12:34:56Z`\n- `2025-08-21T04:34:56-08:00`\n\nHowever, when using local time, do not include the trailing `Z` or timezone offset in the date-time string.\n\nExample:\n- `2025-08-21T12:34:56`\n",
    "version": "20.0.1"
  },
  "servers": [
    {
      "url": "https://api.prod.goaugment.com"
    }
  ],
  "security": [
    {
      "httpBasic": []
    }
  ],
  "tags": [
    {
      "name": "API Key",
      "description": "API key based authorization. Please refer to the\n[authorization documentation](docs/authorization.md) for details.\n"
    },
    {
      "name": "Load Management",
      "description": "API endpoints for creating, updating, and retrieving loads.\n"
    },
    {
      "name": "Carrier Management",
      "description": "API endpoints for managing carriers, carrier contacts, and carrier-manager relationships.\n"
    },
    {
      "name": "Carrier Support",
      "description": "Public API endpoints for correlating carrier issues (detention, lumper, TONU, etc.) with the matching incidents in your TMS. Access is gated by brokerage; talk to Augment before using these endpoints.\n"
    },
    {
      "name": "Webhook Endpoints",
      "description": "Public API endpoints for approved brokerages to create, update, list, and delete webhook endpoints. Self-service endpoints send version 2 webhook payloads only. Access is gated by brokerage; talk to Augment before using these endpoints.\n"
    },
    {
      "name": "Webhook Event Subscriptions",
      "description": "Public API endpoints for approved brokerages to list supported webhook event types, subscribe endpoints to event types, and send test deliveries. Subscriptions created through these public APIs deliver version 2 webhook event shapes only. Access is gated by brokerage; talk to Augment before using these endpoints.\n"
    }
  ],
  "paths": {
    "/v2/auth-check": {
      "post": {
        "operationId": "verifyApiKey",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "tags": [
          "API Key"
        ],
        "summary": "Verify your API key",
        "description": "Verify your API key is valid and not revoked. Use our auth check endpoint to verify your API key without writing data to your account. Great for setup and troubleshooting, but not intended for automated production health checks.\n",
        "responses": {
          "200": {
            "description": "API key is verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCheckError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loads": {
      "get": {
        "operationId": "getLoad",
        "tags": [
          "Load Management"
        ],
        "summary": "Get load by load number",
        "description": "Retrieve enriched load data by load number (brokerage load ID). Returns the full LoadV2 format including carrier details, tracking events, reference numbers, notes, subscribers, and shipment information.\n",
        "parameters": [
          {
            "name": "loadNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The load number (brokerage load ID)",
            "example": "LOAD-12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Load found and returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - loadNumber query parameter is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Load not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateLoad",
        "tags": [
          "Load Management"
        ],
        "summary": "Create or update load",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadRequest"
              },
              "example": {
                "brokerage": {},
                "load": {
                  "loadNumber": "1",
                  "mode": "FTL",
                  "status": "DRAFT",
                  "isPostedToDAT": false,
                  "route": [
                    {
                      "sequence": 1,
                      "stopActivity": "PICKUP",
                      "expectedArrivalWindowStart": "2025-09-01T12:00:00Z",
                      "expectedArrivalWindowEnd": "2025-09-01T14:00:00Z",
                      "address": {
                        "street1": "1 Santa Monica Blvd",
                        "city": "Santa Monica",
                        "stateOrProvince": "CA",
                        "postalCode": "90401",
                        "country": "US"
                      }
                    },
                    {
                      "sequence": 2,
                      "stopActivity": "DELIVERY",
                      "expectedArrivalWindowStart": "2025-09-02T12:00:00Z",
                      "expectedArrivalWindowEnd": "2025-09-02T14:00:00Z",
                      "address": {
                        "street1": "1 Market St",
                        "city": "San Francisco",
                        "stateOrProvince": "CA",
                        "postalCode": "94105",
                        "country": "US"
                      }
                    }
                  ],
                  "items": [
                    {
                      "quantity": 600,
                      "packagingUnit": {
                        "unitType": "CARTON",
                        "quantity": 60
                      },
                      "handlingUnit": {
                        "unitType": "PALLET",
                        "quantity": 3
                      },
                      "description": "600 pieces packed in 60 cartons on 3 pallets",
                      "totalWeightLbs": 12000,
                      "lengthInches": 48,
                      "widthInches": 40,
                      "heightInches": 60,
                      "freightClass": "70",
                      "nmfc": "123456"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Load created successfully"
          },
          "400": {
            "description": "Bad request (work in progress)"
          }
        }
      },
      "patch": {
        "operationId": "patchLoad",
        "tags": [
          "Load Management"
        ],
        "summary": "Patch a load",
        "description": "Apply one or more patch operations to an existing load using a JSON Patch-inspired format ([RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902)).\n\nEach operation targets a specific field by JSON Pointer path and specifies how to change it.\n\n## Supported operations\n\n| `op` | Description |\n|---------|-------------|\n| `add` | Set a value or insert into an array at a specific index. |\n| `remove` | Remove a value or array element. |\n| `replace` | Replace an existing value. |\n| `append` | *(Custom)* Append an item to the end of an array. |\n| `upsert` | *(Custom)* Update an existing array element matching the `where` condition, or insert a new one if no match is found. |\n\n## Allowed paths\n\nOperations are validated against an allowlist of supported paths. Attempts to modify other paths will be rejected.\n\n| `path` | Supported operations | Value example |\n|--------|---------------------|---------------|\n| `/status` | `add`, `replace` | `\"DISPATCHED\"` |\n| `/mode` | `add`, `replace` | `\"FTL\"` |\n| `/loadType` | `add`, `replace` | `\"SPOT\"` |\n| `/equipment` | `add`, `replace` | `\"DRY_VAN\"` |\n| `/equipmentDescription` | `add`, `replace` | `\"53ft Dry Van\"` |\n| `/commodity` | `add`, `replace` | `\"Electronics\"` |\n| `/service` | `add`, `replace` | `\"STANDARD\"` |\n| `/targetRate` | `add`, `replace` | `1250.00` |\n| `/maxRate` | `add`, `replace` | `3000.00` |\n| `/totalRate` | `add`, `replace` | `2750.00` |\n| `/highValueAmount` | `add`, `replace` | `50000` |\n| `/totalMiles` | `add`, `replace` | `1200` |\n| `/tarpSize` | `add`, `replace` | `\"40x48\"` |\n| `/customerName` | `add`, `replace` | `\"Acme Corp\"` |\n| `/customerContact` | `add`, `replace` | `\"Jane Smith\"` |\n| `/customerNotes` | `add`, `replace` | `\"Call before delivery\"` |\n| `/customerId` | `add`, `replace` | `\"ACME-001\"` |\n| `/isPostedToDAT` | `add`, `replace` | `true` |\n| `/bidExpiration` | `add`, `replace` | `\"2025-08-21T12:34:56Z\"` |\n| `/lastLocationUpdate` | `add`, `replace` | `\"2025-10-15T20:20:00Z\"` |\n| `/weight` | `add`, `replace` | `{\"value\": 45000, \"unit\": \"LB\"}` |\n| `/dimensions` | `add`, `replace` | `{\"lengthInches\": 600, \"widthInches\": 96, \"heightInches\": 108}` |\n| `/minimumTemperature` | `add`, `replace` | `{\"value\": 32, \"unit\": \"F\"}` |\n| `/maximumTemperature` | `add`, `replace` | `{\"value\": 68, \"unit\": \"F\"}` |\n| `/minimumBulkHeadTemperature` | `add`, `replace` | `{\"value\": 35, \"unit\": \"F\"}` |\n| `/maximumBulkHeadTemperature` | `add`, `replace` | `{\"value\": 65, \"unit\": \"F\"}` |\n| `/externalTrackingStatus` | `add`, `replace` | `{\"source\": \"MACROPOINT\", \"code\": \"READY\"}` |\n| `/customData` | `add`, `replace` | `{\"key\": \"value\"}` |\n| `/notes` | `add`, `remove`, `append`, `upsert` | `{\"text\": \"Driver is 30 min out\"}` |\n| `/accessorials` | `add`, `remove`, `append`, `upsert` | `\"HAZMAT\"` |\n| `/referenceNumbers` | `add`, `remove`, `append`, `upsert` | `{\"name\": \"PO_NUMBER\", \"value\": \"PO-12345\"}` |\n| `/trackingEvents` | `add`, `remove`, `append`, `upsert` | `{\"eventType\": \"PICKED_UP\", \"eventSource\": \"CARRIER_API\", \"eventUtc\": \"2025-08-21T12:34:56Z\"}` |\n| `/bidCustomValues` | `add`, `remove`, `append`, `upsert` | `{\"name\": \"rush\", \"value\": \"true\"}` |\n| `/commodityItems` | `add`, `remove`, `append`, `upsert` | `{\"quantity\": 10, \"description\": \"boxes\"}` |\n| `/route` | `add`, `remove`, `append`, `upsert` | `{\"sequence\": 1, \"stopActivity\": \"PICKUP\"}` |\n| `/carrier` | `add`, `remove`, `replace` | `add`: assign a carrier when the load has none.<br>`replace`: replace the carrier already on the load.<br>Both use `value` shaped as [**LoadPatchCarrier**](#model/LoadPatchCarrier).<br>`remove`: unassign the carrier (omit `value`). |\n| `/carrier/drivers` | `append`, `replace` | `append`: one [**LoadPatchCarrierDriver**](#model/LoadPatchCarrierDriver).<br>`replace`: array of the same schema (replaces the full drivers list). |\n| `/carrier/contacts` | `append`, `replace` | `append`: one [**LoadPatchCarrierContact**](#model/LoadPatchCarrierContact).<br>`replace`: array of the same schema (replaces the full contacts list). |\n\n## Examples\n\n**Replace a simple field:**\n\n```json\n{ \"op\": \"replace\", \"path\": \"/status\", \"value\": \"IN_TRANSIT\" }\n```\n\n**Append to an array:**\n\n```json\n{ \"op\": \"append\", \"path\": \"/notes\", \"value\": { \"text\": \"Driver is 30 min out\" } }\n```\n\n**Upsert an array element (update stop 1 if it exists, insert if not):**\n\n```json\n{ \"op\": \"upsert\", \"path\": \"/route\", \"value\": { \"sequence\": 1, \"stopActivity\": \"PICKUP\" }, \"where\": { \"sequence\": 1 } }\n```\n\n**Assign carrier on load:**\n\n```json\n{\n  \"op\": \"add\",\n  \"path\": \"/carrier\",\n  \"value\": {\n    \"carrierId\": \"tms-carrier-42\",\n    \"name\": \"Acme Trucking\",\n    \"dotNumber\": 1234567,\n    \"drivers\": [{ \"id\": \"drv-1\", \"name\": \"Driver One\", \"phone\": \"+12081234567\" }],\n    \"contacts\": [\n      { \"role\": \"DISPATCHER\", \"name\": \"Dispatch\", \"email\": \"dispatch@example.com\" },\n      { \"role\": \"AP_REP\", \"name\": \"AP\", \"email\": \"ap@example.com\" }\n    ]\n  }\n}\n```\n\n**Clear carrier from load:**\n\n```json\n{ \"op\": \"remove\", \"path\": \"/carrier\" }\n```\n\n**Append a driver:**\n\n```json\n{\n  \"op\": \"append\",\n  \"path\": \"/carrier/drivers\",\n  \"value\": {\n    \"id\": \"drv-2\",\n    \"name\": \"Jane Driver\",\n    \"phone\": \"+12081234568\",\n    \"phoneExtension\": \"101\"\n  }\n}\n```\n\n**Replace carrier contacts:**\n\n```json\n{\n  \"loadReference\": \"LOAD-12345\",\n  \"operations\": [\n    {\n      \"op\": \"replace\",\n      \"path\": \"/carrier/contacts\",\n      \"value\": [\n        {\n          \"id\": \"contact-dispatch-1\",\n          \"role\": \"DISPATCHER\",\n          \"name\": \"Night dispatch\",\n          \"email\": \"dispatch@example.com\",\n          \"phone\": \"+12081234569\",\n          \"phoneExtension\": \"202\"\n        },\n        {\n          \"id\": \"contact-ap-1\",\n          \"role\": \"AP_REP\",\n          \"name\": \"Accounts payable\",\n          \"email\": \"ap@example.com\",\n          \"phone\": \"+12081234570\",\n          \"phoneExtension\": \"303\"\n        }\n      ]\n    }\n  ]\n}\n```\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoadPatchRequest"
              },
              "examples": {
                "statusAndNotes": {
                  "summary": "Status and notes",
                  "value": {
                    "loadReference": "LOAD-12345",
                    "operations": [
                      {
                        "op": "replace",
                        "path": "/status",
                        "value": "IN_TRANSIT"
                      },
                      {
                        "op": "append",
                        "path": "/notes",
                        "value": {
                          "text": "Driver is 30 min out"
                        }
                      }
                    ]
                  }
                },
                "carrierAssign": {
                  "summary": "Assign carrier on load",
                  "value": {
                    "loadReference": "LOAD-12345",
                    "operations": [
                      {
                        "op": "add",
                        "path": "/carrier",
                        "value": {
                          "carrierId": "tms-carrier-42",
                          "name": "Acme Trucking",
                          "dotNumber": 1234567,
                          "drivers": [
                            {
                              "id": "drv-1",
                              "name": "Driver One",
                              "phone": "+12081234567"
                            }
                          ],
                          "contacts": [
                            {
                              "role": "DISPATCHER",
                              "name": "Dispatch",
                              "email": "dispatch@example.com"
                            },
                            {
                              "role": "AP_REP",
                              "name": "AP",
                              "email": "ap@example.com"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "carrierRemove": {
                  "summary": "Remove carrier from load",
                  "value": {
                    "loadReference": "LOAD-12345",
                    "operations": [
                      {
                        "op": "remove",
                        "path": "/carrier"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Load patched successfully"
          },
          "400": {
            "description": "Bad request — invalid operation, disallowed path, or missing required field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Load not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/loads/tracking": {
      "post": {
        "operationId": "addTrackingEvent",
        "tags": [
          "Load Management"
        ],
        "summary": "Add a tracking event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingEventRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Load updated successfully"
          },
          "400": {
            "description": "Bad request (work in progress)"
          }
        }
      }
    },
    "/v2/carrier-issues/external-ref": {
      "post": {
        "operationId": "reportCarrierIssueExternalId",
        "tags": [
          "Carrier Support"
        ],
        "summary": "Report the external incident id for a carrier issue",
        "description": "After you receive a `CARRIER_ISSUE_UPDATED` webhook and create the incident in your own TMS, call this endpoint with the `carrierIssueId` from that webhook and your incident id (`externalId`). Augment stores the correlation so subsequent `CARRIER_ISSUE_UPDATED` events for the same issue include your `externalId` — letting you update the existing incident in place instead of creating a duplicate.\n\nThe call is idempotent: sending it again for the same `carrierIssueId` just updates the stored `externalId`. It is optional — if you never call it, events keep arriving without an `externalId` and nothing else changes.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierIssueExternalRefRequest"
              },
              "example": {
                "carrierIssueId": "01JCARRIERISSUERECORD00001",
                "externalId": "TMS-INC-30275"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "External reference recorded"
          },
          "422": {
            "description": "Invalid payload"
          }
        }
      }
    },
    "/v1/carriers": {
      "post": {
        "operationId": "createOrUpdateCarrier",
        "tags": [
          "Carrier Management"
        ],
        "summary": "Create or update carrier",
        "description": "Create a new carrier or update an existing one. This endpoint supports three operations:\n- **Creation**: Provide all required fields to create a new carrier.\n- **Partial Update**: Include only the fields you want to update. Carriers\n  are matched by `tmsId`, so provide the `tmsId` of the carrier you want\n  to update.\n\n- **Full Update**: Include all fields to completely replace the carrier\n  data.\n\nFor updating managers and contacts, it is highly recommended to provide `tmsId` for each manager and contact when creating them. This allows the system to match and update existing managers/contacts by their `tmsId` during subsequent updates. If `tmsId` is not provided for managers or contacts, you will need to clear the entire array and re-add all managers/contacts when updating.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierRequest"
              },
              "example": {
                "name": "Acme Logistics",
                "tmsId": "acme-tms-001",
                "dotNumber": 1234567,
                "mcNumber": 765432,
                "customData": {
                  "tier": "gold",
                  "score": 98.5,
                  "verified": true,
                  "aliases": [
                    "Acme Freight",
                    "Acme Carriers LLC"
                  ],
                  "routing": {
                    "defaultRegion": "NS",
                    "allowCrossBorder": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Carrier created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getCarrierByIdentifier",
        "tags": [
          "Carrier Management"
        ],
        "summary": "Get carrier by DOT or MC number",
        "description": "Fetch a carrier by its DOT number or MC number. Returns the carrier with associated managers and contacts.\n",
        "parameters": [
          {
            "name": "dotNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "DOT number"
          },
          {
            "name": "mcNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "MC number"
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Carrier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carriers/bulk": {
      "post": {
        "operationId": "bulkUpsertCarriers",
        "tags": [
          "Carrier Management"
        ],
        "summary": "Bulk create or update carriers",
        "description": "Create or update multiple carriers in a single request. Maximum 20 carriers per request. Each carrier is processed in its own transaction. Partial success is supported - some carriers may succeed while others fail.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpsertCarriersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk operation completed (may have partial success)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpsertCarriersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., exceeds maximum batch size)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carriers/{carrierId}": {
      "get": {
        "operationId": "getCarrierById",
        "tags": [
          "Carrier Management"
        ],
        "summary": "Get carrier by ID",
        "description": "Fetch a carrier by its carrier ID. Returns the carrier with associated managers and contacts.\n",
        "parameters": [
          {
            "name": "carrierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Augment's carrier identifier, returned as `carrierId` in the create/update carrier response."
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Carrier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "archiveCarrier",
        "tags": [
          "Carrier Management"
        ],
        "summary": "Archive carrier",
        "description": "Soft delete a carrier. The carrier will no longer be returned in GET requests.\n",
        "parameters": [
          {
            "name": "carrierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Augment's carrier identifier, returned as `carrierId` in the create/update carrier response."
          }
        ],
        "responses": {
          "204": {
            "description": "Carrier archived successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Carrier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-endpoints": {
      "get": {
        "tags": [
          "Webhook Endpoints"
        ],
        "operationId": "listWebhookEndpoints",
        "summary": "List webhook endpoints",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Lists public webhook endpoints for the authenticated brokerage. Customers do not pass `brokerageKey`; the brokerage is resolved from the API key.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "responses": {
          "200": {
            "description": "Webhook endpoints returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookEndpoint"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhook Endpoints"
        ],
        "operationId": "createWebhookEndpoint",
        "summary": "Create webhook endpoint",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Creates a public webhook endpoint for the authenticated brokerage. The endpoint URL must use HTTPS. Created endpoints use webhook payload version 2 and TLS verification. You cannot create v1 webhook subscriptions through self-service management. After creating an endpoint, create a webhook subscription that points to the returned `id`.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookEndpointRequest"
              },
              "example": {
                "name": "Primary Webhook",
                "url": "https://example.com/webhooks/augment",
                "auth": {
                  "type": "bearerToken",
                  "token": "customer-secret-token"
                },
                "customHeaders": {
                  "X-Source": "augment"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook endpoint created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-endpoints/{webhookEndpointId}": {
      "parameters": [
        {
          "name": "webhookEndpointId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Webhook endpoint ID"
        }
      ],
      "get": {
        "tags": [
          "Webhook Endpoints"
        ],
        "operationId": "getWebhookEndpoint",
        "summary": "Get webhook endpoint",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Returns one public webhook endpoint for the authenticated brokerage. Returns `404` if the endpoint does not exist or is not a public webhook endpoint for that brokerage.\n",
        "responses": {
          "200": {
            "description": "Webhook endpoint returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhook Endpoints"
        ],
        "operationId": "updateWebhookEndpoint",
        "summary": "Update webhook endpoint",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Partially updates a public webhook endpoint. Supported fields are `name`, `url`, `auth`, and `customHeaders`. At least one field is required. Omitted fields are preserved. Passing `customHeaders: null` clears custom headers. Existing webhook subscriptions stay attached to the same endpoint ID. After changing the endpoint URL or auth, test each affected subscription.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEndpointRequest"
              },
              "example": {
                "url": "https://example.com/webhooks/augment-v2",
                "customHeaders": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEndpoint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhook Endpoints"
        ],
        "operationId": "deleteWebhookEndpoint",
        "summary": "Delete webhook endpoint",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Deletes a public webhook endpoint. This returns `409` if any webhook subscription still references the endpoint.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "responses": {
          "204": {
            "description": "Webhook endpoint deleted successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook endpoint not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Webhook endpoint is still referenced by a subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-event-types": {
      "get": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "listWebhookEventTypes",
        "summary": "List webhook event types",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Returns the public event types supported for subscription creation. Use this endpoint as the source of truth for allowed `eventType` values before creating a webhook subscription.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "responses": {
          "200": {
            "description": "Webhook event types returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookManagementEventType"
                  }
                },
                "example": [
                  "TRACKING_UPDATE",
                  "STOP_UPDATE",
                  "LOAD_CARRIER_UPDATE",
                  "SEND_TMS_COMMENT",
                  "SCHEDULED_CARRIER_OUTREACH",
                  "UPLOAD_FILES",
                  "PUSH_BID_TO_TMS",
                  "PUSH_LOAD_DRAFT",
                  "CARRIER_ISSUE_UPDATED"
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-subscriptions": {
      "get": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "listWebhookSubscriptions",
        "summary": "List webhook subscriptions",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Lists public webhook subscriptions for the authenticated brokerage. A subscription connects one public webhook endpoint to one public webhook event type.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "responses": {
          "200": {
            "description": "Webhook subscriptions returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookSubscription"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "createWebhookSubscription",
        "summary": "Create webhook subscription",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Creates a subscription from a public webhook endpoint to one public event type. `isActive` is optional and defaults to `true`. The endpoint must exist and must be a public webhook endpoint for the authenticated brokerage. Duplicate subscriptions for the same `webhookEndpointId` and `eventType` are rejected with `409`. After creating the subscription, send a test delivery for the returned subscription `id`. Subscriptions created through these public APIs deliver version 2 webhook event shapes for the selected event type.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookSubscriptionRequest"
              },
              "example": {
                "webhookEndpointId": "endpoint-id",
                "eventType": "TRACKING_UPDATE",
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Webhook endpoint already has a subscription for this event type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-subscriptions/{subscriptionId}": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Webhook subscription ID"
        }
      ],
      "get": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "getWebhookSubscription",
        "summary": "Get webhook subscription",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Returns one public webhook subscription for the authenticated brokerage, or `404` if no matching public subscription exists.\n",
        "responses": {
          "200": {
            "description": "Webhook subscription returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "updateWebhookSubscription",
        "summary": "Update webhook subscription",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Partially updates a public webhook subscription. Only `webhookEndpointId` and `isActive` are updatable. `eventType` is not updatable; create a new subscription to change event type. At least one field is required.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookSubscriptionRequest"
              },
              "example": {
                "webhookEndpointId": "new-endpoint-id",
                "isActive": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Webhook endpoint already has a subscription for this event type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "deleteWebhookSubscription",
        "summary": "Delete webhook subscription",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Deletes a public webhook subscription. This returns `409` if the subscription has group overrides; those overrides must be removed first.\n\nAccess to webhook management is gated by brokerage. Talk to Augment to enable access before relying on this endpoint.\n",
        "responses": {
          "204": {
            "description": "Webhook subscription deleted successfully"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Webhook management access is not enabled for this brokerage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "409": {
            "description": "Webhook subscription has group overrides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhook-subscriptions/{subscriptionId}/test": {
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Webhook subscription ID"
        }
      ],
      "post": {
        "tags": [
          "Webhook Event Subscriptions"
        ],
        "operationId": "testWebhookSubscription",
        "summary": "Test webhook subscription",
        "security": [
          {
            "httpBasic": []
          }
        ],
        "description": "Sends a test delivery for a public webhook subscription. The request body is optional. If omitted, Augment sends a default test payload for the subscription's event type.\n\nTo send your own test payload, the API request body must be an object with a `payload` key. The value of `payload` should be the webhook event body you want Augment to send. Augment unwraps this field and sends only the `payload` value as the HTTP request body to your webhook endpoint. Use a payload value that matches the webhook event you are testing. For subscriptions created through these public APIs, refer to the version 2 event shapes documented in the [Webhooks reference](/webhooks). You cannot create v1 webhook subscriptions through self-service management.\n\nUse this after creating a subscription or updating the endpoint URL, auth token, or custom headers.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWebhookSubscriptionRequest"
              },
              "example": {
                "payload": {
                  "id": "test-event-10507012-001",
                  "workflow": "TRACK_AND_TRACE",
                  "occurredAt": "2026-06-08T12:00:00.000Z",
                  "loadNumber": "10507012",
                  "customerLoadInternalId": null,
                  "eventType": "TRACKING_UPDATE",
                  "data": {
                    "nextSequence": 1,
                    "nextEtaUtc": "2026-06-09T14:00:00.000Z",
                    "eventType": "PING",
                    "eventSource": "PHONE_EMAIL",
                    "eventUtc": "2026-06-08T12:00:00.000Z",
                    "city": "Ashland",
                    "stateOrProvince": "VA",
                    "latitude": 37.759,
                    "longitude": -77.479,
                    "notes": "Driver in Ashland, VA; in transit to Westfield, MA delivery by 10:00 AM tomorrow."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test delivery result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWebhookSubscriptionResponse"
                },
                "example": {
                  "statusCode": 200,
                  "body": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorBody"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "httpBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Authenticate with HTTP Basic auth by sending an empty username and your API key as the password, equivalent to encoding :<API_KEY> in the Basic credential.\n"
      }
    },
    "schemas": {
      "CarrierIssueExternalRefRequest": {
        "type": "object",
        "description": "Correlates a carrier issue from a CARRIER_ISSUE_UPDATED webhook with the matching incident id in your TMS.\n",
        "required": [
          "carrierIssueId",
          "externalId"
        ],
        "x-property-order": [
          "carrierIssueId",
          "externalId"
        ],
        "properties": {
          "carrierIssueId": {
            "type": "string",
            "description": "The correlation token from the CARRIER_ISSUE_UPDATED webhook payload.\n",
            "example": "01JCARRIERISSUERECORD00001"
          },
          "externalId": {
            "type": "string",
            "description": "The incident id in your TMS.",
            "example": "TMS-INC-30275"
          }
        }
      },
      "LoadPatchRequest": {
        "type": "object",
        "required": [
          "loadReference",
          "operations"
        ],
        "x-property-order": [
          "loadReference",
          "operations"
        ],
        "properties": {
          "loadReference": {
            "type": "string",
            "description": "The load number (brokerage load ID) of the load to patch.",
            "example": "LOAD-12345"
          },
          "operations": {
            "type": "array",
            "description": "One or more patch operations to apply, in order.",
            "items": {
              "$ref": "#/components/schemas/LoadPatchOperation"
            }
          }
        }
      },
      "LoadPatchOperation": {
        "oneOf": [
          {
            "title": "remove",
            "type": "object",
            "required": [
              "op",
              "path"
            ],
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "remove"
                ]
              },
              "path": {
                "type": "string",
                "description": "A JSON Pointer ([RFC 6901](https://datatracker.ietf.org/doc/html/rfc6901)) identifying the field to operate on. Must be one of the allowed paths documented in the PATCH endpoint description.\n",
                "example": "/status"
              }
            }
          },
          {
            "title": "add / replace / append",
            "type": "object",
            "required": [
              "op",
              "path",
              "value"
            ],
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "add",
                  "replace",
                  "append"
                ],
                "description": "The operation to perform. `add` and `replace` follow [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902). `append` is a custom extension that pushes a new element onto an array field.\n"
              },
              "path": {
                "type": "string",
                "description": "A JSON Pointer ([RFC 6901](https://datatracker.ietf.org/doc/html/rfc6901)) identifying the field to operate on. Must be one of the allowed paths documented in the PATCH endpoint description.\n",
                "example": "/status"
              },
              "value": {
                "description": "The value to set or insert."
              }
            }
          },
          {
            "title": "upsert",
            "type": "object",
            "required": [
              "op",
              "path",
              "value",
              "where"
            ],
            "properties": {
              "op": {
                "type": "string",
                "enum": [
                  "upsert"
                ],
                "description": "Custom operation that updates an existing array element matching the `where` condition, or inserts a new one if no match is found.\n"
              },
              "path": {
                "type": "string",
                "description": "A JSON Pointer ([RFC 6901](https://datatracker.ietf.org/doc/html/rfc6901)) identifying the array field to operate on. Must be one of the allowed paths documented in the PATCH endpoint description.\n"
              },
              "value": {
                "description": "The element to insert or use as the replacement."
              },
              "where": {
                "type": "object",
                "description": "A map of field names to expected values used to identify an existing array element. If a matching element is found it is replaced with `value`; otherwise `value` is appended.\n",
                "additionalProperties": true,
                "example": {
                  "sequence": 1
                }
              }
            }
          }
        ]
      },
      "LoadPatchCarrierDriver": {
        "type": "object",
        "description": "Driver for PATCH on `/carrier` (nested) or `/carrier/drivers`.",
        "x-property-order": [
          "id",
          "name",
          "phone",
          "phoneExtension"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "TMS driver id (not Augment’s id)."
          },
          "name": {
            "type": "string",
            "description": "Driver name on the load."
          },
          "phone": {
            "type": "string",
            "description": "E.164 or supported format; see `Carrier.drivers` on create load."
          },
          "phoneExtension": {
            "type": "string",
            "description": "Digits only."
          }
        }
      },
      "LoadPatchCarrierContact": {
        "type": "object",
        "description": "Contact for PATCH on `/carrier` (nested) or `/carrier/contacts`.",
        "x-property-order": [
          "id",
          "role",
          "name",
          "email",
          "phone",
          "phoneExtension"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "TMS contact id (not Augment’s id)."
          },
          "role": {
            "type": "string",
            "enum": [
              "DISPATCHER",
              "AP_REP"
            ],
            "description": "Optional. `DISPATCHER` or `AP_REP` (same as load `CarrierContact`)."
          },
          "name": {
            "type": "string",
            "description": "Contact name."
          },
          "email": {
            "type": "string",
            "description": "Contact email."
          },
          "phone": {
            "type": "string",
            "description": "E.164 or supported format; see `CarrierContact` on create load."
          },
          "phoneExtension": {
            "type": "string",
            "description": "Digits only."
          }
        }
      },
      "LoadPatchCarrier": {
        "type": "object",
        "description": "`value` for PATCH `/carrier`: `add` (no carrier yet) or `replace`.\n",
        "x-property-order": [
          "carrierId",
          "name",
          "mcNumber",
          "dotNumber",
          "scac",
          "address",
          "drivers",
          "contacts"
        ],
        "properties": {
          "carrierId": {
            "type": "string",
            "description": "TMS carrier id for this load (not Augment’s id)."
          },
          "name": {
            "type": "string",
            "description": "Carrier name."
          },
          "mcNumber": {
            "type": "integer",
            "description": "US MC number, if sent."
          },
          "dotNumber": {
            "type": "integer",
            "description": "USDOT number, if sent."
          },
          "scac": {
            "type": "string",
            "description": "SCAC (Standard Carrier Alpha Code)—short alphabetic carrier code, often used in rail/intermodal.\n"
          },
          "address": {
            "$ref": "#/components/schemas/CarrierAddress"
          },
          "drivers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadPatchCarrierDriver"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadPatchCarrierContact"
            }
          }
        }
      },
      "ApiErrorBody": {
        "type": "object",
        "required": [
          "message"
        ],
        "x-property-order": [
          "message",
          "errorCode",
          "details"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "An error message"
          },
          "errorCode": {
            "type": "string",
            "description": "An error code"
          },
          "details": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "string"
              }
            ],
            "description": "Additional error details"
          }
        }
      },
      "WebhookEndpoint": {
        "type": "object",
        "description": "Public webhook endpoint configured for outbound webhook delivery.",
        "additionalProperties": false,
        "required": [
          "id",
          "url",
          "authType"
        ],
        "x-property-order": [
          "id",
          "name",
          "url",
          "authType",
          "customHeaders"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook endpoint ID",
            "example": "webhook_endpoint_01HY..."
          },
          "name": {
            "type": "string",
            "description": "Display name for the endpoint",
            "example": "Primary Webhook"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL that receives Augment webhook deliveries",
            "example": "https://example.com/webhooks/augment"
          },
          "authType": {
            "type": "string",
            "enum": [
              "bearerToken",
              "customHeaders"
            ],
            "description": "Outbound delivery auth type. Tokens are never returned by read or list responses.\n"
          },
          "customHeaders": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/WebhookCustomHeaders"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional custom headers sent with webhook deliveries"
          }
        }
      },
      "CreateWebhookEndpointRequest": {
        "type": "object",
        "description": "Request body for creating a public webhook endpoint.",
        "additionalProperties": false,
        "required": [
          "url",
          "auth"
        ],
        "x-property-order": [
          "name",
          "url",
          "auth",
          "customHeaders"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Optional display name for the endpoint",
            "example": "Primary Webhook"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL that receives Augment webhook deliveries",
            "example": "https://example.com/webhooks/augment"
          },
          "auth": {
            "$ref": "#/components/schemas/WebhookEndpointAuth"
          },
          "customHeaders": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/WebhookCustomHeaders"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional custom headers sent with webhook deliveries"
          }
        }
      },
      "UpdateWebhookEndpointRequest": {
        "type": "object",
        "description": "Request body for partially updating a public webhook endpoint. At least one field is required.\n",
        "additionalProperties": false,
        "minProperties": 1,
        "x-property-order": [
          "name",
          "url",
          "auth",
          "customHeaders"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name for the endpoint",
            "example": "Primary Webhook"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS URL that receives Augment webhook deliveries",
            "example": "https://example.com/webhooks/augment-v2"
          },
          "auth": {
            "$ref": "#/components/schemas/WebhookEndpointAuth"
          },
          "customHeaders": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/WebhookCustomHeaders"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional custom headers. Pass `null` to clear custom headers."
          }
        }
      },
      "WebhookEndpointAuth": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WebhookEndpointBearerTokenAuth"
          },
          {
            "$ref": "#/components/schemas/WebhookEndpointCustomHeadersAuth"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "bearerToken": "#/components/schemas/WebhookEndpointBearerTokenAuth",
            "customHeaders": "#/components/schemas/WebhookEndpointCustomHeadersAuth"
          }
        },
        "description": "Outbound auth configuration used when Augment delivers webhooks to your endpoint. This is not the same as the API key auth used to call Augment.\n"
      },
      "WebhookEndpointBearerTokenAuth": {
        "type": "object",
        "description": "Bearer token authentication for webhook delivery requests.",
        "required": [
          "type",
          "token"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bearerToken"
            ],
            "description": "Bearer token auth."
          },
          "token": {
            "type": "string",
            "description": "Secret token sent as `Authorization: Bearer <token>` on webhook delivery. This token is never returned by read or list responses.\n",
            "example": "customer-secret-token"
          }
        }
      },
      "WebhookEndpointCustomHeadersAuth": {
        "type": "object",
        "description": "Authentication conveyed via the endpoint's `customHeaders` field (e.g. `x-api-key`). No bearer token is sent and Augment does not store one.\n",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "customHeaders"
            ],
            "description": "Custom headers auth."
          }
        }
      },
      "WebhookCustomHeaders": {
        "type": "object",
        "description": "Custom headers sent with webhook deliveries.",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "X-Customer-Header": "value"
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "description": "Public webhook subscription connecting one webhook endpoint to one event type.\n",
        "additionalProperties": false,
        "required": [
          "id",
          "webhookEndpointId",
          "eventType",
          "isActive"
        ],
        "x-property-order": [
          "id",
          "webhookEndpointId",
          "eventType",
          "isActive"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook subscription ID",
            "example": "webhook_subscription_01HY..."
          },
          "webhookEndpointId": {
            "type": "string",
            "description": "Webhook endpoint ID that receives this event type",
            "example": "webhook_endpoint_01HY..."
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookManagementEventType"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this subscription is active",
            "example": true
          }
        }
      },
      "CreateWebhookSubscriptionRequest": {
        "type": "object",
        "description": "Request body for creating a public webhook subscription.",
        "additionalProperties": false,
        "required": [
          "webhookEndpointId",
          "eventType"
        ],
        "x-property-order": [
          "webhookEndpointId",
          "eventType",
          "isActive"
        ],
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "Webhook endpoint ID that should receive this event type",
            "example": "webhook_endpoint_01HY..."
          },
          "eventType": {
            "$ref": "#/components/schemas/WebhookManagementEventType"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this subscription should be active. Defaults to `true`.",
            "default": true
          }
        }
      },
      "UpdateWebhookSubscriptionRequest": {
        "type": "object",
        "description": "Request body for partially updating a public webhook subscription. At least one field is required. `eventType` is not updatable.\n",
        "additionalProperties": false,
        "minProperties": 1,
        "x-property-order": [
          "webhookEndpointId",
          "isActive"
        ],
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "New webhook endpoint ID for this subscription",
            "example": "webhook_endpoint_01HZ..."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this subscription should be active",
            "example": false
          }
        }
      },
      "TestWebhookSubscriptionRequest": {
        "type": "object",
        "description": "Optional request body for a test webhook delivery. The request body uses a `payload` wrapper: the `payload` key is part of this API request, and the `payload` value is the webhook event body that Augment sends to the configured endpoint.\n",
        "additionalProperties": false,
        "properties": {
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom webhook event body to send to the subscription endpoint. Augment sends this object exactly as the webhook POST body. It should match the version 2 event shape your listener expects, such as a Track & Trace event envelope from the Webhooks reference.\n"
          }
        }
      },
      "TestWebhookSubscriptionResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "statusCode",
          "body"
        ],
        "x-property-order": [
          "statusCode",
          "body"
        ],
        "properties": {
          "statusCode": {
            "type": "number",
            "format": "double",
            "description": "HTTP status code returned by the webhook endpoint",
            "example": 200
          },
          "body": {
            "description": "Response body returned by the webhook endpoint"
          }
        }
      },
      "WebhookManagementEventType": {
        "type": "string",
        "description": "Public event type for webhook subscription creation. Call `GET /v2/webhook-event-types` for the current source of truth.\n",
        "enum": [
          "TRACKING_UPDATE",
          "STOP_UPDATE",
          "LOAD_CARRIER_UPDATE",
          "SEND_TMS_COMMENT",
          "SCHEDULED_CARRIER_OUTREACH",
          "UPLOAD_FILES",
          "PUSH_BID_TO_TMS",
          "PUSH_LOAD_DRAFT",
          "CARRIER_ISSUE_UPDATED"
        ]
      },
      "AuthCheckError": {
        "type": "object",
        "required": [
          "message",
          "requestId",
          "timestamp"
        ],
        "x-property-order": [
          "message",
          "requestId",
          "timestamp"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Invalid key"
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique requestId for troubleshooting",
            "example": "a1b0fce9-075a-4ad3-87fd-f307c51d2298"
          },
          "timestamp": {
            "type": "string",
            "description": "Unix timestamp of the error in milliseconds",
            "example": "1760136207000"
          }
        }
      },
      "LoadRequest": {
        "type": "object",
        "required": [
          "load",
          "brokerage"
        ],
        "x-property-order": [
          "load",
          "brokerage",
          "carrier",
          "customer",
          "trackingEvents",
          "carrierPaymentStatuses"
        ],
        "properties": {
          "load": {
            "$ref": "#/components/schemas/Load"
          },
          "trackingEvents": {
            "type": "array",
            "description": "Providing this field replaces all existing tracking events for the Load, including an empty array, which clears them. Omit the field to preserve existing tracking events. To append events instead of replacing them, use the POST /v2/loads/tracking endpoint.\n",
            "items": {
              "$ref": "#/components/schemas/TrackingEvent"
            }
          },
          "carrier": {
            "$ref": "#/components/schemas/Carrier"
          },
          "brokerage": {
            "$ref": "#/components/schemas/Brokerage"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "carrierPaymentStatuses": {
            "type": "array",
            "description": "Per-carrier payment status entries for this load. Each entry represents the payment outcome for one carrier on the load (e.g., TONU + linehaul on a co-brokered load yields two entries). Sending this field replaces any prior set of statuses for the load.\n",
            "items": {
              "$ref": "#/components/schemas/CarrierPaymentStatus"
            }
          }
        }
      },
      "CarrierPaymentStatus": {
        "type": "object",
        "required": [
          "carrierId",
          "status"
        ],
        "x-property-order": [
          "carrierId",
          "status",
          "scheduledPaymentDate",
          "actualPaymentDate",
          "paymentMethod",
          "paymentReferenceNumbers"
        ],
        "properties": {
          "carrierId": {
            "type": "string",
            "description": "Brokerage-side external carrier identifier (the `externalId` used elsewhere in the API). Resolved against `(brokerageKey, carrierId)`, which is unique. Required on every entry.\n"
          },
          "status": {
            "type": "string",
            "enum": [
              "PAID",
              "SCHEDULED",
              "OTHER"
            ],
            "description": "Explicit payment status. `OTHER` is a catch-all for states not yet promoted to first-class enum values (e.g., PARTIAL, APPROVED, DISPUTED, FAILED); additional values may be added in a backward-compatible way.\n"
          },
          "scheduledPaymentDate": {
            "type": "string",
            "format": "date",
            "description": "Scheduled payment date (YYYY-MM-DD, UTC)."
          },
          "actualPaymentDate": {
            "type": "string",
            "format": "date",
            "description": "Actual payment date (YYYY-MM-DD, UTC)."
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "ACH",
              "CHECK"
            ],
            "description": "Payment method used."
          },
          "paymentReferenceNumbers": {
            "type": "array",
            "description": "Broker-side transaction or confirmation IDs associated with the payment (e.g., TriumphPay confirmation IDs). A list supports split payments and multiple confirmation IDs per payment.\n",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TrackingEventRequest": {
        "type": "object",
        "required": [
          "loadNumber",
          "trackingEvent"
        ],
        "x-property-order": [
          "loadNumber",
          "trackingEvent"
        ],
        "properties": {
          "loadNumber": {
            "type": "string"
          },
          "trackingEvent": {
            "$ref": "#/components/schemas/TrackingEvent"
          }
        }
      },
      "TrackingCallbackResponse": {
        "type": "object",
        "required": [
          "loadNumber",
          "trackingEvent"
        ],
        "x-property-order": [
          "loadNumber",
          "brokerageLoadInternalId",
          "trackingEvent"
        ],
        "properties": {
          "loadNumber": {
            "type": "string",
            "description": "The unique identifier for the load"
          },
          "brokerageLoadInternalId": {
            "type": "string",
            "description": "Internal load ID in the TMS"
          },
          "trackingEvent": {
            "$ref": "#/components/schemas/TrackingEvent"
          }
        }
      },
      "LoadCarrierCallbackResponse": {
        "type": "object",
        "required": [
          "loadNumber",
          "loadCarrierUpdate"
        ],
        "x-property-order": [
          "loadNumber",
          "brokerageLoadInternalId",
          "loadCarrierUpdate"
        ],
        "properties": {
          "loadNumber": {
            "type": "string",
            "description": "The unique identifier for the load"
          },
          "brokerageLoadInternalId": {
            "type": "string",
            "description": "Internal load ID in the TMS"
          },
          "loadCarrierUpdate": {
            "$ref": "#/components/schemas/LoadCarrierUpdate"
          }
        }
      },
      "CommentCallbackResponse": {
        "type": "object",
        "required": [
          "loadNumber",
          "comment"
        ],
        "x-property-order": [
          "loadNumber",
          "brokerageLoadInternalId",
          "comment"
        ],
        "properties": {
          "loadNumber": {
            "type": "string",
            "description": "The unique identifier for the load"
          },
          "brokerageLoadInternalId": {
            "type": "string",
            "description": "Internal load ID in the TMS"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "StopUpdateCallbackResponse": {
        "type": "object",
        "required": [
          "loadNumber",
          "brokerageLoadInternalId",
          "stopUpdate"
        ],
        "x-property-order": [
          "loadNumber",
          "brokerageLoadInternalId",
          "stopUpdate"
        ],
        "properties": {
          "loadNumber": {
            "type": "string",
            "description": "The unique identifier for the load"
          },
          "brokerageLoadInternalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional internal load ID in the TMS. Use loadNumber as the main ID. Will be null if not provided."
          },
          "stopUpdate": {
            "$ref": "#/components/schemas/StopUpdate"
          }
        }
      },
      "ScheduledCarrierOutreachCallbackResponse": {
        "type": "object",
        "required": [
          "loadNumber",
          "scheduledAt",
          "outreachType",
          "context"
        ],
        "x-property-order": [
          "loadNumber",
          "brokerageLoadInternalId",
          "scheduledAt",
          "outreachType",
          "context"
        ],
        "properties": {
          "loadNumber": {
            "type": "string",
            "description": "The unique identifier for the load"
          },
          "brokerageLoadInternalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional internal load ID in the TMS. Use loadNumber as the main ID. Will be null if not provided."
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "description": "The scheduled carrier outreach time, as a UTC ISO 8601 string ending in `Z` (e.g. `2025-08-21T12:34:56Z`)"
          },
          "outreachType": {
            "type": "string",
            "description": "The type of carrier outreach scheduled",
            "enum": [
              "PHONE_CALL",
              "EMAIL",
              "TEXT_MESSAGE"
            ]
          },
          "context": {
            "type": "string",
            "description": "Context describing why the carrier outreach was scheduled"
          }
        }
      },
      "BidCreated": {
        "type": "object",
        "description": "Carrier interest or a carrier bid submitted for a load. Delivered via PUSH_BID_TO_TMS webhook subscription. This callback is sent when a carrier expresses interest, even if the carrier did not provide a dollar offer amount.\n",
        "required": [
          "bidId",
          "createdAt",
          "loadReference",
          "internalLoadReference",
          "carrier",
          "channel",
          "truckEmpty"
        ],
        "x-property-order": [
          "bidId",
          "createdAt",
          "loadReference",
          "internalLoadReference",
          "carrier",
          "offerAmount",
          "channel",
          "truckEmpty",
          "repId"
        ],
        "properties": {
          "bidId": {
            "type": "string",
            "description": "Unique identifier for the bid",
            "example": "bid-abc-123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp (with timezone offset) of when the bid was created\n",
            "example": "2026-02-19T14:30:00.000Z"
          },
          "loadReference": {
            "type": "string",
            "description": "Brokerage load reference number",
            "example": "LOAD-456"
          },
          "internalLoadReference": {
            "type": "string",
            "description": "Augment internal load reference",
            "example": "INT-789"
          },
          "carrier": {
            "type": "object",
            "description": "Carrier that submitted the bid. At least one of `id`, `mcNumber`, or `dotNumber` must be present.\n",
            "anyOf": [
              {
                "required": [
                  "id"
                ]
              },
              {
                "required": [
                  "mcNumber"
                ]
              },
              {
                "required": [
                  "dotNumber"
                ]
              }
            ],
            "properties": {
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Carrier identifier",
                "example": "carrier-001"
              },
              "mcNumber": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Carrier MC number",
                "example": 123456
              },
              "dotNumber": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Carrier DOT number",
                "example": 7890123
              }
            }
          },
          "offerAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Bid offer amount in dollars. This can be null when the carrier expressed interest but did not provide a dollar amount.\n",
            "example": 2500
          },
          "channel": {
            "type": "object",
            "description": "Communication channel used for the bid. At least one of `phone` or `email` must be present.\n",
            "required": [
              "type"
            ],
            "anyOf": [
              {
                "required": [
                  "phone"
                ]
              },
              {
                "required": [
                  "email"
                ]
              }
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "call",
                  "email"
                ],
                "description": "Type of communication channel",
                "example": "call"
              },
              "phone": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Phone number (present for call-based bids)",
                "example": "+15551234567"
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "email",
                "description": "Email address (present for email-based bids)"
              }
            }
          },
          "truckEmpty": {
            "type": "object",
            "description": "Truck empty location and availability",
            "properties": {
              "city": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "City name",
                "example": "Dallas"
              },
              "stateOrProvince": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "State or province code",
                "example": "TX"
              },
              "country": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "US",
                  "CA",
                  "MX",
                  null
                ],
                "description": "Country code",
                "example": "US"
              },
              "dateTime": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "Truck empty date and time",
                "example": "2026-02-20T08:00:00.000Z"
              }
            }
          },
          "repId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Augment representative ID who facilitated the bid",
            "example": "rep-456"
          }
        }
      },
      "StopUpdate": {
        "type": "object",
        "required": [
          "stopSequenceNumber",
          "status",
          "timezone"
        ],
        "x-property-order": [
          "stopSequenceNumber",
          "stopId",
          "status",
          "arrivalTime",
          "unloadStartTime",
          "unloadEta",
          "departureTime",
          "timezone",
          "accessorials",
          "dockDoor",
          "notes"
        ],
        "properties": {
          "stopSequenceNumber": {
            "type": "integer",
            "description": "The sequence number of the stop being updated"
          },
          "stopId": {
            "type": "string",
            "description": "Optional external or system ID of the stop"
          },
          "status": {
            "$ref": "#/components/schemas/StopUpdateLoadStatus"
          },
          "arrivalTime": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InputDateTimeUtc"
              },
              {
                "description": "Arrival time at the stop. May be in UTC with offset, or local time without offset when paired with the timezone field.\n"
              }
            ]
          },
          "unloadStartTime": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InputDateTimeUtc"
              },
              {
                "description": "Unload start time. May be in UTC with offset, or local time without offset when paired with the timezone field.\n"
              }
            ]
          },
          "unloadEta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InputDateTimeUtc"
              },
              {
                "description": "Estimated unload completion time. In UTC, or with a specific timezone offset.\n"
              }
            ]
          },
          "departureTime": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InputDateTimeUtc"
              },
              {
[...]
